{% extends "layout.html"%}
{% block titulo %}
    Inicio
{% endblock %}
{% block principal %}
<div class="container-inicio">
    <nav>
        <ul class="nav">
            <li>
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li>
                <a class="nav-link active" aria-current="page" href="/logout">Cerrar sesión</a>
            </li>
        </ul>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container search-box">
                    <div class="row">
                        <div class="col-12"></div>
                            <form action="/" method="post">
                                <input type="text" id="libro_info" name="libro_info" placeholder="ISBN, título o autor"><br>
                                <br><input type="submit" id="buscar-libro" value="Buscar">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>

<div class="container results_box">
    <div class="row">
        <div class="column">
            <div class="card">
                {% for libro in libros %}
                <div class="row justify-content-between individual_results">
                    <div class="col-md-6 col-sm-12 col-xl-1 imagen_libro">
                        <img class="portada_libros" src="https://covers.openlibrary.org/b/isbn/{{libro['isbn']}}.jpg" alt="Portada del libro">
                    </div>
                    <div class="col-sm-12 col-lg-6 descripcion_libro">
                        <h3>{{libro['title']}}</h1>
                        <h4>Autor: {{libro['author']}}</h4>
                        <h4>Año: {{libro['year']}}</h4>
                    </div>
                    <div class="col-sm-12 col-xl-3"> 
                        <div class="container box-bookdetails">
                            <h3><a href="/{{libro['isbn']}}">Reseñar</a></h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}