{% extends "layout.html"%} {% block title %} Login {% endblock %} {% block principal %}
<div class="container-inicio">
    <nav>
        <ul class="nav">
            <li>
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li>
                <a class="nav-link active" aria-current="page" href="/registro">Registro</a>
            </li>
        </ul>
    </nav>
</div>
<form action=/login method="POST">
    <div class="container box-login">
        <div class="row">
                <div class="card-login">
                    <div class="col-12">
                        <form autocomplete="off">
                            <div class="campo-registro">
                                <input autocomplete="off" type="text" placeholder="Usuario" name="usuario">
                            </div><br>
                            <div class="campo-registro">
                                <input autocomplete="off" type="password" placeholder="Contaseña" name="contraseña">
                            </div><br>
                            <div class="container">
                                <div class="column">
                                    <div class="col-12">
                                        <div class="btn-log-reg">
                                            <input type="submit" id="login-btn" value="Login">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}